#logo {
	margin-top: 40px;
}

#about-wrapper {
	margin-top: 15px;
	text-align: center;
	background-color: #E6E6E6;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 0px;
}

#social-wrapper {
	margin-top: 25px;
	text-align: center;
}

#facebook {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
}

#gallery {
	margin-top: 30px;
	margin-bottom: 30px;
}

#gallery div {
	padding: 0px;

}

#gallery img {
	cursor: pointer; 
	cursor: hand;
}

p {
	font-family: 'Ek Mukta', sans-serif;
}

@media (min-width: 992px) {
	.fixed {
		position: fixed;
		width: 25%;
	}
	.scrollable {
	float: right;
	width: 71%;
	}
}

@media (max-width: 768px) {
	#cover {
		display: none;
	}
}

footer {
	text-align: center;
}

#footer-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
}

#warning {
	background: #FF4D4D;
	border: 1px solid #FF0000;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

#warning > p {
	margin: 0px;
}


/* Loading screen */
#positioner {
	margin-left:48%;
	margin-top: 20%;
	transform: 
	translateZ(1px)
	rotate(30deg);
}

#title-wrapper {
width:40%;
margin-left: auto;
margin-right: auto;
margin-top: 28%;
opacity: 0;
}

#cover {
	background-color: white;
	width: 100%;
	height: 100vh;
	z-index: 100;
	position: fixed;
}

#big {
	width: 100%;
	position: fixed;
	z-index: 9;

}
#big div div {
	opacity: 0;
  	position:fixed;
  	z-index: 10;
	width: 0; 
	height: 0;  
	border-left: 58px solid transparent;
	border-right: 58px solid transparent; 	
}

#a {
    -ms-transform: rotate(1800deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	border-bottom: 100px solid #FBEF72;
	margin-top: 27px;
  	margin-left: 0px;
} 
#b {
	border-bottom: 100px solid #AC1A76;
  	margin-top: 124px;
} 
#c {
	border-bottom: 100px solid #FEA25D;
  	margin-left: -58px;
  	margin-top: 26px;
} 
#d {
	border-bottom: 100px solid #83CBA4;
  	margin-left: 58px;
  	margin-top: 26px;
} 
#e {
     -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	border-bottom: 100px solid #00B1E4;
  	margin-left: 58px;
  	margin-top: 125px;
} 
#f {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	border-bottom: 100px solid #F0423A;
  	margin-left: -58px;
  	margin-top: 125px;
} 








